<div class="highlighted">
  <div class="region region-highlighted">
    <section
      id="block-head"
      class="col-sm-12 col-md-12 col-lg-12 block block-block-content block-block-content61f413a2-f97e-4101-a79d-3efa34aebc22 clearfix"
    >

      <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
        <div class="headmain"><img
          alt="Ruszkai Gábor"
          class="img-responsive align-center"
          src="{{ content.url }}"
        /></div>
      </div>

    </section>

  </div>
</div>
